<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom mb-0">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <h3><i class="fas fa-video"></i> CINEMA</h3>
                </a>
                <div class="d-flex flex-row-reverse ">
                    @await Html.PartialAsync("_LogoutPartial") 
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0 m-0">
        <div class="d-flex bd-highlight vh-lg">
            <div class="bd-highlight col-lg-2 col-md-5 col-sm-5 p-0 m-0 custom-menu-bg">
                <ul class="nav navbar-nav flex-column">
                    <li class="nav-item border-bottom border-info-50 padding-left">
                        <h5><a class="nav-link text-dark p-3" asp-area="" asp-controller="Movie" asp-action="Index"><i class="fas fa-film"></i> Filmes</a></h5>
                    </li>
                    <li class="nav-item border-bottom border-info-50 padding-left">
                        <h5><a class="nav-link text-dark p-3" asp-area="" asp-controller="Room" asp-action="Index"><i class="fab fa-buromobelexperte"></i> Salas</a></h5>
                    </li>
                    <li class="nav-item border-bottom border-info-50 padding-left">
                        <h5><a class="nav-link text-dark p-3" asp-area="" asp-controller="Session" asp-action="Index"><i class="fas fa-ticket-alt"></i> Sessões</a></h5>
                    </li>
                </ul>
            </div>
            <div class="flex-grow-1 bd-highlight col-lg-10 col-md-7 col-sm-7 p-0 m-0">
                <div class="container-fluid margin-top">
                    @RenderBody()
                </div>                
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - cinema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
