@model Cinema.Models.Movie

@{
    ViewData["Title"] = "Alterar";
}

<h1>Filmes</h1>

<h4>Alterar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <div class="has-image mb-2">
                    <img id="image-file" src="/imgs/Movies/@Model.Image" class="bd-placeholer-img flex-shrink-0 me-2 rounded" width="230" height="250" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" />
                    <div id="btn-change-img" class="btn btn-danger btn-change">Alterar</div>
                    <input asp-for="Image" type="file" class="custom-file-input invisible" runat="server" accept="image/*" />
                    <input type="hidden" name="ImageHidden" id="ImageHidden" runat="server" value="@Model.Image" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="d-flex flex-row-reverse">
                    <div>
                        <a asp-action="Index" class="mr-2">Voltar</a><input type="submit" value="Salvar" id="btn-submit" class="btn btn-primary btn-submit" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        let imageChange = function () {
            $("#Image").trigger('click');
        }

        $("#Image").on('change', function () {
            let input = this;
            let selectedFiles = [...input.files];
            if (selectedFiles.length > 0) {
                $("#image-file").fadeOut(150, function () {
                    $("#btn-change-img").hide();
                    $(input).removeClass('invisible')
                })
            }
        })

        $("#btn-change-img").on("click", imageChange)

    </script>
}
