@model IEnumerable<Cinema.Models.Room>

@{
    ViewData["Title"] = "Salas";
}

<h1>Salas</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
        </tr>
}
    </tbody>
</table>
